# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List Data Science Languages
* List Data Science Libraries
* List Data Science Tools
* Do Basic Arithmetic Problems

Some of the popular languages Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries by Data Scientists are:
1. numpy
2. Pandas
3. seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|TensorFlow|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
ABHIRAM L